{% extends 'header.html' %}
{% block content %}
    <div container>
        <div class="row ">
            <div id="durationselect" class="col-md-11 col-sm-10 col-xs-12"
                 style="vertical-align: middle;text-align: center ">
                Max Keywords:
                <select id="maxwords">
                    <option value="0">10</option>
                    <option value="1">20</option>
                    <option value="2">50</option>
                    <option value="3">100</option>
                    <option value="4">200</option>
                    <option value="5">500</option>
                </select>
                Duration:
                <select id="duration">
                    <option value="0">a week</option>
                    <option value="1">two weeks</option>
                    <option value="2">a month</option>
                    <option value="3">two months</option>
                    <option value="4">three months</option>
                    <option value="5">six months</option>
                    <option value="6">custom</option>
                </select>
                Start:<input id="start" type="date" required min="2016-09-01" value="2016-09-01">
                End:<input id="end" type="date" required min="2016-09-01" value="2017-03-17">
            </div>
            <div id="generatediv" class="col-md-1 col-sm-2 col-xs-12"
                 style="vertical-align: middle;text-align: center ">
                <button id="generate" onclick="generate()" class="btn btn-default">Compare</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 mb-6" style="text-align:center;">
                <div style="margin:auto auto auto 0;">
                    <form id="mainstreamform" class="form-inline" action="" method="post">
                        Mainstream:
                        <label><input name="news" type="checkbox" value="0"/>StraitsTimes</label>
                        <label><input name="news" type="checkbox" value="1"/>TodayOnline</label>
                        <label><input name="news" type="checkbox" value="2"/>ChannelAsia</label>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 mb-6" style="text-align:center;">
                <div style=" margin:auto 0 auto auto;">
                    <form id="socialmediaform" class="form-inline" action="" method="post">
                        Social media:
                        <label><input name="socialmedia" type="checkbox" value="0"/>AllSingaporeStuff</label>
                        <label><input name="socialmedia" type="checkbox" value="1"/>MotherShip</label>
                        <label><input name="socialmedia" type="checkbox" value="2"/>MustShareNews</label>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="mainstream" class="col-md-6 col-sm-12 col-xs-12" style="width:600px;height:550px"></div>
            <div id="socialmedia" class="col-md-6 col-sm-12 col-xs-12" style="width:600px;height:550px"></div>
        </div>
    </div>

    <script type="text/javascript">
        function generate() {
            var selectRight = true;
            var len = $("input:checkbox:checked").length;
            if (len == 0) {
                selectRight = false;
                alert("No data selected, Please select the data source again!")
            }
            var datasource1 = $("input[name='news']:checked").serialize();
            var datasource2 = $("input[name='socialmedia']:checked").serialize();
            var durationtype = $("#duration").find("option:selected").index();
            var maxwords = $("#maxwords").find("option:selected").val();
            var start = $("#start").val();
            var end = $("#end").val();

            if (durationtype == 6) {
                if (DateDiff(start, end) > 0) {
                    selectRight = false;
                    alert("Wrong customize period")
                }
            }
            if (selectRight) {
                mainStreamChart.showLoading();
                socialMediaChart.showLoading();
                var postData = {
                    "datasource1": datasource1,
                    "datasource2": datasource2,
                    "durationtype": durationtype,
                    "maxwords": maxwords,
                    "start": start,
                    "end": end
                };
                var optiondata;
                var wordfre3 = [];
                var wordfre4 = [];
                $.ajax({
                    url: "/mainsocicompare/",
                    type: "POST",
                    data: postData,
                    success: function (data) {
                        optiondata = JSON.parse(data);
                        if (optiondata["status"] == "Fail") {
                            alert("Wrong configuration or No data in this period, Please select again")
                        } else if (optiondata["status"] == "NoData") {
                            alert("No data, please select again.");

                        } else {

                            {#                    alert(optiondata["result"]);#}
                            wordfre3.push({
                                name: optiondata["result1"][0][0],
                                value: optiondata["result1"][0][1],
                                itemStyle: {
                                    normal: {
                                        color: 'black'
                                    }
                                }
                            });
                            for (var i = 1; i < optiondata["result1"].length; i++) {
                                wordfre3.push({
                                    name: optiondata["result1"][i][0],
                                    value: optiondata["result1"][i][1],
                                    itemStyle: createRandomItemStyle()
                                })
                            }

                            option3 = {
                                title: {},
                                tooltip: {
                                    show: true
                                },
                                series: [{
                                    type: 'wordCloud',
                                    size: ['80%', '100%'],
                                    textRotation: [0, 30, -30, 10, -10, 20, 40, 60, 75, 45, -20, -75, 90, -45],
                                    textPadding: 0,
                                    autoSize: {
                                        enable: true,
                                        minSize: 25
                                    },
                                    data: wordfre3
                                }]
                            };
                            wordfre4.push({
                                name: optiondata["result2"][0][0],
                                value: optiondata["result2"][0][1],
                                itemStyle: {
                                    normal: {
                                        color: 'black'
                                    }
                                }
                            });
                            for (var j = 1; j < optiondata["result2"].length; j++) {
                                wordfre4.push({
                                    name: optiondata["result2"][j][0],
                                    value: optiondata["result2"][j][1],
                                    itemStyle: createRandomItemStyle()
                                })
                            }

                            option4 = {
                                title: {},
                                tooltip: {
                                    show: true
                                },
                                series: [{
                                    type: 'wordCloud',
                                    size: ['80%', '100%'],
                                    textRotation: [0, 30, -30, 10, -10, 20, 40, 60, 75, 45, -20, -75, 90, -45],
                                    textPadding: 0,
                                    autoSize: {
                                        enable: true,
                                        minSize: 14
                                    },
                                    data: wordfre4
                                }]
                            };
                            socialMediaChart.hideLoading();
                            socialMediaChart.setOption(option4, true);
                            socialMediaChart.connect(mainStreamChart);
                            mainStreamChart.connect(mainStreamChart);
                            mainStreamChart.hideLoading();
                            mainStreamChart.setOption(option3, true);
                        }
                    }
                });
            }
        }
    </script>
    {#    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>#}
    <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
    <script type="text/javascript">

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        maxdate = yyyy + '-' + mm + '-' + dd;
        document.getElementById("start").setAttribute("max", maxdate);
        document.getElementById("end").setAttribute("max", maxdate);
        document.getElementById("end").setAttribute("value", maxdate);

        function DateDiff(startDate, endDate) {
            var aDate, oDate1, oDate2, iDays;
            aDate = startDate.split('-');
            oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
            aDate = endDate.split('-');
            oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
            iDays = parseInt((oDate1 - oDate2) / 1000 / 60 / 60 / 24);
            return iDays;
        }
        function createRandomItemStyle() {
            return {
                normal: {
                    color: 'rgb(' + [
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160)
                    ].join(',') + ')'
                }
            };
        }
        var mainStreamChart = echarts.init(document.getElementById('mainstream'));
        var socialMediaChart = echarts.init(document.getElementById('socialmedia'));
        mainStreamChart.on(echarts.config.EVENT.CLICK, mainStreamClick);
        socialMediaChart.on(echarts.config.EVENT.CLICK, socialMediaClick);
        draw();
        function draw() {
            mainStreamChart.showLoading();
            socialMediaChart.showLoading();
            var postData1 = {
                "datasource1": "news=0",
                "datasource2": "news=0",
                "durationtype": 2,
                "maxwords": 3,
                "start": "2016-09-01",
                "end": "2017-03-01"
            };
            var optiondata1;
            var wordfre1 = [];
            var wordfre2 = [];
            $.ajax({
                url: "/mainsocicompare/",
                type: "POST",
                data: postData1,
                success: function (data) {
                    optiondata1 = JSON.parse(data);
                    if (optiondata1["status"] == "Fail") {
                        alert("Wrong configuration or No data in this period, Please select again")
                    } else if (optiondata1["status"] == "NoData") {
                        alert("No data, please select again.");

                    } else {
                        {#                    alert(optiondata["result"]);#}
                        wordfre1.push({
                            name: optiondata1["result1"][0][0],
                            value: optiondata1["result1"][0][1],
                            itemStyle: {
                                normal: {
                                    color: 'black'
                                }
                            }
                        });
                        for (var i = 1; i < optiondata1["result1"].length; i++) {
                            wordfre1.push({
                                name: optiondata1["result1"][i][0],
                                value: optiondata1["result1"][i][1],
                                itemStyle: createRandomItemStyle()
                            })
                        }

                        wordfre2.push({
                            name: optiondata1["result2"][0][0],
                            value: optiondata1["result2"][0][1],
                            itemStyle: {
                                normal: {
                                    color: 'black'
                                }
                            }
                        });
                        for (var j = 1; j < optiondata1["result2"].length; j++) {
                            wordfre2.push({
                                name: optiondata1["result2"][j][0],
                                value: optiondata1["result2"][j][1],
                                itemStyle: createRandomItemStyle()
                            })
                        }
                        socialMediaChart.hideLoading();
                        socialMediaChart.setOption({
                            title: {},
                            tooltip: {
                                show: true
                            },
                            series: [{
                                type: 'wordCloud',
                                size: ['80%', '100%'],
                                textRotation: [0, 30, -30, 10, -10, 20, 40, 60, 75, 45, -20, -75, 90, -45],
                                textPadding: 0,
                                autoSize: {
                                    enable: true,
                                    minSize: 14
                                },
                                data: wordfre2
                            }]
                        }, true);
                        socialMediaChart.connect(mainStreamChart);
                        mainStreamChart.connect(mainStreamChart);
                        mainStreamChart.hideLoading();
                        mainStreamChart.setOption({
                            title: {},
                            tooltip: {
                                show: true
                            },
                            series: [{
                                type: 'wordCloud',
                                size: ['80%', '100%'],
                                textRotation: [0, 30, -30, 10, -10, 20, 40, 60, 75, 45, -20, -75, 90, -45],
                                textPadding: 0,
                                autoSize: {
                                    enable: true,
                                    minSize: 14
                                },
                                data: wordfre1
                            }]
                        }, true);
                    }
                }
            });
        }
        function mainStreamClick(param) {
            if (typeof param.seriesIndex == 'undefined') {
                return;
            }
            if (param.type == 'click') {
                window.open("/comparekeyworddetail?keyword=" + param.name, "newswindow", "height=600, width=400, toolbar=no, menubar=no, scrollbars=yes, resizable=no, location=no, status=no");
            }
        }
        function socialMediaClick(param) {
            if (typeof param.seriesIndex == 'undefined') {
                return;
            }
            if (param.type == 'click') {
                window.open("/comparesocialdetail?keyword=" + param.name, "newswindow", "height=600, width=400, toolbar=no, menubar=no, scrollbars=yes, resizable=no, location=no, status=no");
            }
        }
    </script>
{% endblock %}