{% extends 'header.html' %}
{% block content %}
    <div class="row">
        <div id="main" class="center-block" style="height: 600px"></div>
    </div>
    <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
    {#<script src="/static/js/echarts-2.2.7/build/dist/echarts-all.js"></script>#}
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        // 添加点击事件
        {#    var ecConfig = require('echarts/config');#}
        myChart.on(echarts.config.EVENT.CLICK, eConsole);

        function createRandomItemStyle() {
            return {
                normal: {
                    color: 'rgb(' + [
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160)
                    ].join(',') + ')'
                }
            };
        }

        option = {
            title: {},
            tooltip: {
                show: true
            },
            series: [{
                type: 'wordCloud',
                size: ['80%', '100%'],
                textRotation: [0, 30, -30, 10, -10, 20, 40, 60, 75, 45, -20, -75, 90, -45],
                textPadding: 0,
                autoSize: {
                    enable: true,
                    minSize: 25
                },
                data: []
            }]
        };
        myChart.showLoading();

        // 为echarts对象加载数据


        function eConsole(param) {
            if (typeof param.seriesIndex == 'undefined') {
                return;
            }
            if (param.type == 'click') {
                window.open("/keyworddetail?keyword=" + param.name, "newwindow", "height=600, width=400, toolbar=no, menubar=no, scrollbars=yes, resizable=no, location=no, status=no");
            }
        }
        var datasource = "news=0";
        var durationtype = 2;
        var start = "2016-09-01";
        var end = new Date().toLocaleDateString();
        var postData = {
            "datasource": datasource,
            "durationtype": durationtype,
            "start": start,
            "end": end
        };
        var optiondata;
        var wordfre = [];
        $.ajax({
            url: "/maindata/",
            type: "POST",
            data: postData,
            success: function (data) {
                optiondata = JSON.parse(data);
                if (optiondata["status"] == "Fail") {
                    alert("Wrong configuration or No data in this period, Please select again")
                } else {
                    wordfre.push({
                        name: optiondata["result"][0][0],
                        value: optiondata["result"][0][1],
                        itemStyle: {
                            normal: {
                                color: 'black'
                            }
                        }
                    });
                    for (var i = 1; i < optiondata["result"].length; i++) {
                        wordfre.push({
                            name: optiondata["result"][i][0],
                            value: optiondata["result"][i][1],
                            itemStyle: createRandomItemStyle()
                        })
                    }
                    myChart.hideLoading();
                    myChart.setOption({
                        title: {},
                        tooltip: {
                            show: true
                        },
                        series: [{
                            type: 'wordCloud',
                            size: ['80%', '100%'],
                            textRotation: [0, 30, -30, 10, -10, 20, 40, 60, 75, 45, -20, -75, 90, -45],
                            textPadding: 0,
                            autoSize: {
                                enable: true,
                                minSize: 25
                            },
                            data: wordfre
                        }]
                    }, true);
                }
            }
        });
    </script>
{% endblock %}
